<?xml version='1.0' encoding='utf-8'?>
<widget id="com.omar.gamerchat" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Gamer Chat</name>
    <description>شات الجيمرز السحابي</description>
    <author email="omar@example.com">Omar</author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <preference name="DOMStorageEnabled" value="true" />
    <preference name="AllowInlineMediaPlayback" value="true" />

    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="Scheme" value="https" />
        <preference name="Hostname" value="localhost" />
    </platform>
</widget>